/* Footer.css */

.footer {
    background-color: #f9f9f9;
    color: #4A628A;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 3%;
  }
  
  .footer p {
    margin: 0;
    text-align: center;
  }
  
  .footer-links {
    margin-top: 10px;
  }
  
  .footer-links a {
    color: #4A628A;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
  }
  
  .footer-links a:hover {
    color: #4A628A;
  }
  